{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": 3.6,
                "useBuiltIns": "usage"  
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}